:local(.header) {
  display: flex;
  flex-direction: row;
  padding: 0 76px;
  background: #253b4f;
  font-size: 13px;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .logo-wrapper {
    padding: 0 12px;
    line-height: 60px;
    vertical-align: middle;
    > img {
      vertical-align: middle;
      width: 88px;
    }
  }

  .spacer {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
